In [1]:
import pandas as pd

In [2]:
#import 2019 csv
data = pd.read_csv("../Resources/2019.csv")
data.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [3]:
data.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [4]:
# make df with only the important columns
cleaned = data[['YearsCodePro','DevType','CompTotal','OrgSize']]
cleaned['Year'] = '2019'
cleaned = cleaned.dropna()

C:\Users\Kaiza\AppData\Local\Temp\ipykernel_9828\2894608421.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned['Year'] = '2019'

In [5]:
cleaned['DevType'].value_counts()

Developer, full-stack                                                                                                                                                                                                                                                                                                                        6344
Developer, back-end                                                                                                                                                                                                                                                                                                                          3689
Developer, back-end;Developer, front-end;Developer, full-stack                                                                                                                                                                                                                                                                               1846
Developer, front-end                                                                                                                                                                                                                                                                                                                         1616
Developer, back-end;Developer, full-stack                                                                                                                                                                                                                                                                                                    1592
                                                                                                                                                                                                                                                                                                                                             ...
Designer;Developer, back-end;Developer, front-end;Developer, QA or test;Product manager;Student                                                                                                                                                                                                                                                 1
Academic researcher;Data or business analyst;Developer, front-end;Scientist                                                                                                                                                                                                                                                                     1
Designer;Educator;Engineer, data;Scientist                                                                                                                                                                                                                                                                                                      1
Data scientist or machine learning specialist;Developer, back-end;Developer, QA or test;Engineer, data;Engineering manager                                                                                                                                                                                                                      1
Academic researcher;Database administrator;Developer, back-end;Developer, desktop or enterprise applications;Developer, embedded applications or devices;Developer, front-end;Developer, full-stack;Developer, game or graphics;Developer, mobile;Educator;Marketing or sales professional;Product manager;Scientist;System administrator       1
Name: DevType, Length: 9136, dtype: int64

In [6]:
# create smaller df with only the jobs we want
analyst = cleaned[cleaned['DevType'].str.contains('analyst')]
scientist = cleaned[cleaned['DevType'].str.contains('scientist')]
machine = cleaned[cleaned['DevType'].str.contains('machine')]
# engineer = cleaned[cleaned['DevType'].str.contains('engineer')]

In [7]:
# convert job titles to specific
analyst['DevType'] = 'Data Analyst'
scientist['DevType'] = 'Data Scientist'
machine['DevType'] = 'Machine Learning Engineer'

C:\Users\Kaiza\AppData\Local\Temp\ipykernel_9828\4197962986.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  analyst['DevType'] = 'Data Analyst'
C:\Users\Kaiza\AppData\Local\Temp\ipykernel_9828\4197962986.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scientist['DevType'] = 'Data Scientist'
C:\Users\Kaiza\AppData\Local\Temp\ipykernel_9828\4197962986.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  machine['DevType'] = 'Machine Learning Engineer'

In [12]:
combined = pd.concat([analyst, scientist, machine], ignore_index=True)
combined

,YearsCodePro,DevType,CompTotal,OrgSize,Year
0,10,Data Analyst,950000.0,"10,000 or more employees",2019
1,8,Data Analyst,90000.0,10 to 19 employees,2019
2,3,Data Analyst,120000.0,"1,000 to 4,999 employees",2019
3,18,Data Analyst,103000.0,"10,000 or more employees",2019
4,13,Data Analyst,2000.0,2-9 employees,2019
...,...,...,...,...,...
12287,1,Machine Learning Engineer,14300.0,100 to 499 employees,2019
12288,3,Machine Learning Engineer,65000.0,20 to 99 employees,2019
12289,21,Machine Learning Engineer,95000.0,"Just me - I am a freelancer, sole proprietor, ...",2019
12290,4,Machine Learning Engineer,185000.0,"10,000 or more employees",2019
12291,28,Machine Learning Engineer,239000.0,500 to 999 employees,2019

In [13]:
combined['OrgSize']=combined['OrgSize'].replace(["10,000 or more employees"],["10000+"])
combined['OrgSize']=combined['OrgSize'].replace(["20 to 99 employees"],["10-100"])
combined['OrgSize']=combined['OrgSize'].replace(["100 to 499 employees"],["100-1000"])
combined['OrgSize']=combined['OrgSize'].replace(["1,000 to 4,999 employees"],["1000-4999"])
combined['OrgSize']=combined['OrgSize'].replace(["2-9 employees"],["2-9"])
combined['OrgSize']=combined['OrgSize'].replace(["10 to 19 employees"],["10-100"])
combined['OrgSize']=combined['OrgSize'].replace(["500 to 999 employees"],["100-1000"])
combined['OrgSize']=combined['OrgSize'].replace(["5,000 to 9,999 employees"],["5000-9999"])
combined['OrgSize']=combined['OrgSize'].replace(["Just me - I am a freelancer, sole proprietor, etc."],["1"])
combined['OrgSize']=combined['OrgSize'].replace(["I don’t know"],["0"])

combined

      YearsCodePro                    DevType  CompTotal    OrgSize  Year
0               10               Data Analyst   950000.0     10000+  2019
1                8               Data Analyst    90000.0     10-100  2019
2                3               Data Analyst   120000.0  1000-4999  2019
3               18               Data Analyst   103000.0     10000+  2019
4               13               Data Analyst     2000.0        2-9  2019
...            ...                        ...        ...        ...   ...
12287            1  Machine Learning Engineer    14300.0   100-1000  2019
12288            3  Machine Learning Engineer    65000.0     10-100  2019
12289           21  Machine Learning Engineer    95000.0          1  2019
12290            4  Machine Learning Engineer   185000.0     10000+  2019
12291           28  Machine Learning Engineer   239000.0   100-1000  2019

[12292 rows x 5 columns]

In [14]:
combined.to_csv('../Outputs/2019.csv', index=False)