In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("once")

In [2]:
#import 2022 csv
data22 = pd.read_csv("../Outputs/2022.csv")
data22 = data22.rename(columns=
                       {"YearsCodePro": "Experience_Years", 
                        "DevType": "Job_Position", 
                        "ConvertedCompYearly": "Salary",
                        "OrgSize": "Company_Size"

                       })
# data22.head()

In [3]:
#import 2021 csv
data21 = pd.read_csv("../Outputs/2021.csv")
data21 = data21.rename(columns=
                       {"YearsCodePro": "Experience_Years", 
                        "DevType": "Job_Position", 
                        "ConvertedCompYearly": "Salary",
                        "OrgSize": "Company_Size"
                       })
# data21.head()

In [4]:
#import 2020 csv
data20 = pd.read_csv("../Outputs/2020.csv")
data20 = data20.rename(columns=
                       {"YearsCodePro": "Experience_Years", 
                        "DevType": "Job_Position", 
                        "ConvertedComp": "Salary",
                        "OrgSize": "Company_Size"
                       })
# data20.head()

In [5]:
#import 2019 csv
data19 = pd.read_csv("../Outputs/2019.csv")
data19 = data19.rename(columns=
                       {"YearsCodePro": "Experience_Years", 
                        "DevType": "Job_Position", 
                        "CompTotal": "Salary",
                        "OrgSize": "Company_Size"
                       })
# data19.head()

In [6]:
#import 2018 csv
data18 = pd.read_csv("../Outputs/2018.csv")
data18 = data18.rename(columns=
                       {"YearsCodingProf": "Experience_Years", 
                        "DevType": "Job_Position", 
                        "ConvertedSalary": "Salary",
                        "CompanySize": "Company_Size"
                       })
# data18.head()

In [7]:
#import 2017 csv
data17 = pd.read_csv("../Outputs/2017.csv")
data17 = data17.rename(columns=
                       {"YearsCodedJob": "Experience_Years", 
                        "DeveloperType": "Job_Position", 
                        "Salary": "Salary",
                        "CompanySize": "Company_Size"
                       })
# data17.head()

In [8]:
#import 2016 csv
data16 = pd.read_csv("../Outputs/2016.csv")
data16 = data16.rename(columns=
                       {"experience_range": "Experience_Years", 
                        "occupation": "Job_Position", 
                        "salary_range": "Salary",
                        "company_size_range": "Company_Size"
                       })
# data16.head()

## Combine all Years into One Dataframe

In [9]:
salary_data = pd.concat([data22,data21,data20,data19,data18,data17,data16],ignore_index=True)
# salary_data

## Filter down the Company Size

In [10]:
# salary_data['Company_Size'].value_counts()

In [11]:
salary_data['Company_Size'] = salary_data['Company_Size'].replace(["I don't know"],["0"])
salary_data['Company_Size'] = salary_data['Company_Size'].replace(["Fewer than 10 employees"],["2-9"])
salary_data['Company_Size'] = salary_data['Company_Size'].replace(["1"],["0"])

In [12]:
# drop self employed or ambiguous answers like "I don't kow"
salary_data_filtered = salary_data[salary_data['Company_Size'] != '0']
# salary_data_filtered['Company_Size'].value_counts()

In [13]:
salary_data_filtered['Company_Size'] = salary_data_filtered['Company_Size'].replace(["10-100"],[100])
salary_data_filtered['Company_Size'] = salary_data_filtered['Company_Size'].replace(["100-1000"],[1000])
salary_data_filtered['Company_Size'] = salary_data_filtered['Company_Size'].replace(["10000+"],[100000])
salary_data_filtered['Company_Size'] = salary_data_filtered['Company_Size'].replace(["1000-4999"],[50000])
salary_data_filtered['Company_Size'] = salary_data_filtered['Company_Size'].replace(["2-9"],[10])
salary_data_filtered['Company_Size'] = salary_data_filtered['Company_Size'].replace(["5000-9999"],[10000])
# salary_data_filtered['Company_Size'].value_counts()

C:\Users\Kaiza\AppData\Local\Temp\ipykernel_32520\3670352103.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_data_filtered['Company_Size'] = salary_data_filtered['Company_Size'].replace(["10-100"],[100])

In [14]:
salary_data_filtered

      Experience_Years    Job_Position    Salary  Company_Size  Year
0                   15    Data Analyst  130000.0          1000  2022
1                   22    Data Analyst  450000.0          1000  2022
2                    5    Data Analyst   78084.0        100000  2022
3                   12    Data Analyst   15480.0        100000  2022
4                   11    Data Analyst  200000.0         50000  2022
...                ...             ...       ...           ...   ...
45567                5  Data Scientist  110000.0           100  2016
45568               10  Data Scientist  190000.0           100  2016
45569               10  Data Scientist  160000.0          1000  2016
45570               15  Data Scientist  200000.0            10  2016
45571               10  Data Scientist   50000.0           100  2016

[43603 rows x 5 columns]

In [20]:
salary_data_filtered['Experience_Years'] = salary_data_filtered['Experience_Years'].replace(["Less than 1 year"],[1])
salary_data_filtered['Experience_Years'] = salary_data_filtered['Experience_Years'].replace(["More than 50 years"],[50])

C:\Users\Kaiza\AppData\Local\Temp\ipykernel_32520\1512833048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_data_filtered['Experience_Years'] = salary_data_filtered['Experience_Years'].replace(["Less than 1 year"],[1])

In [21]:
salary_data_filtered.to_csv('../Outputs/Full_Salary_Data.csv', index=False)